{
  "singleQuote": false,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react",
    "^next",
    "^@core/(.*)$",
    "^@server/(.*)$",
    "^@ui/(.*)$",
    "^[./](?!.*\\.(css|scss|less)$)",
    ".*\\.(css|scss|less)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
